<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Favorite Premier League Team</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <h1>Enter Your Favorite Premier League Team</h1>
    <form action="/submit-favorite-team" method="post">
        <input type="email" name="email" placeholder="Enter your email" required>
        
        <input type="text" id="team" name="team" placeholder="Enter your team's ID" required>
        <button type="submit">Submit</button>

        <table border ="1">
            <tr>
              <th>Team</th>
              <th>ID</th>
            </tr>
            <tr>
              <td>Manchester United</td>
              <td>33</td>
            </tr>
            <tr>
              <td>Newcastle</td>
              <td>34</td>
            </tr>
            <tr>
                <td>Bournemouth</td>
                <td>35</td>
              </tr>
              <tr>
                <td>Fulham</td>
                <td>36</td>
              </tr>
              <tr>
                <td>Wolves</td>
                <td>38</td>
              </tr>
              <tr>
                <td>Liverpool</td>
                <td>40</td>
              </tr>
              <tr>
                <td>Arsenal</td>
                <td>42</td>
              </tr>
              <tr>
                <td>Burnley</td>
                <td>44</td>
              </tr>
              <tr>
                <td>Everton</td>
                <td>45</td>
              </tr>
              <tr>
                <td>Tottenham</td>
                <td>47</td>
              </tr>
              <tr>
                <td>West Ham</td>
                <td>48</td>
              </tr>
              <tr>
                <td>Chelsea</td>
                <td>49</td>
              </tr>
              <tr>
                <td>Manchester City</td>
                <td>50</td>
              </tr>
              <tr>
                <td>Brighton</td>
                <td>41</td>
              </tr>
              <tr>
                <td>Crystal Palace</td>
                <td>52</td>
              </tr>
              <tr>
                <td>Brentford</td>
                <td>55</td>
              </tr>
              <tr>
                <td>Sheffield United</td>
                <td>62</td>
              </tr>
              <tr>
                <td>Nottingham Forest</td>
                <td>65</td>
              </tr>
              <tr>
                <td>Aston Villa</td>
                <td>66</td>
              </tr>
              <tr>
                <td>Luton Town</td>
                <td>1359</td>
              </tr>



          </table>

    </form>
    

    <form action="/show-statistics" method="post">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">Check Statistics</button>
    </form>
    

</body>
</html>
